<div>
<md-menu-bar>
    <md-menu>
        <button ng-click="$mdOpenMenu()">
            檔案
        </button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click='$ctrl.open()'>
                    開啟
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click='$ctrl.save()'>
                    存檔
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <button ng-click="$mdOpenMenu()">
            藍圖
        </button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click='$ctrl.openManualManager()'>
                    管理
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
<!-- <div style='width:80vw;height:50px;' layout='row'>
    <md-button class='md-fab md-accent md-hue-4' ng-show='$ctrl.selected.length === 1' ng-click="$ctrl.addChild($ctrl.selected[0])">
        <md-icon class='material-icons'>add</md-icon>
    </md-button>
    <md-button class='md-fab md-accent md-hue-5' ng-show='$ctrl.selected.length === 2' ng-click="$ctrl.appendChild($ctrl.selected[0], $ctrl.selected[1])" aria-label='Append Child'>
        <md-icon md-svg-icon='/images/icons/link_nodes.svg' style='color:white;fill:white;stroke:white;'></md-icon>
    </md-button>
</div>
 -->
 <div>
<svg ng-attr-width='{{$ctrl.graph.width}}' ng-attr-height='{{$ctrl.graph.height}}' ng-cloak>
    <defs>
        <filter id="shadow-1" x="-40%" y="-40%" width="200%" height="200%">
          <feOffset result="offOut" in="SourceGraphic" dx="5" dy="5" />
          <feColorMatrix result="matrixOut" in="offOut" type="matrix"
          values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />
          <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
    </defs>
    <rect ng-attr-x='{{($ctrl.graph.width - $ctrl.screen.width) * 0.5}}'
    ng-attr-y='{{($ctrl.graph.height - $ctrl.screen.height) * 0.5}}'
    ng-attr-width='{{$ctrl.screen.width}}'
    ng-attr-height='{{$ctrl.screen.height}}'
    ng-attr-fill='{{$ctrl.screen.bgColor}}'
    filter='url(#shadow-1)'
    ng-click="$ctrl.onClickBackground()">
    </rect>
    <line ng-repeat='link in $ctrl.links'
    style='stroke:{{link.color}};'
    ng-attr-stroke-width='{{link.width}}'
    ng-attr-x1='{{link.source.x}}'
    ng-attr-y1='{{link.source.y}}'
    ng-attr-x2='{{link.target.x}}'
    ng-attr-y2='{{link.target.y}}'>
    ></line>
    <g ng-repeat='node in $ctrl.nodes'
    ng-attr-transform='translate({{node.x}}, {{node.y}})'
    ng-click='$ctrl.onClickNode($event, $index)'
    ng-dblclick='$ctrl.onDoubleclickNode($event, $index)'
    style='outline: none;'>
        <circle
        ng-attr-r='{{node.r}}'
        ng-attr-fill='{{node.color}}'
        ng-attr-stroke='{{ $ctrl.isSelected($index) && "blue"}}'
        ng-attr-stroke-width='{{$ctrl.isSelected($index) && 3}}'
        filter='url(#shadow-1)'>
        </circle>
<!--         <circle ng-show='node.isPressed'
        ng-attr-r='{{$ctrl.pressEffect.r}}' fill='white' ng-attr-fill-opacity="{{$ctrl.pressEffect.opacity}}">
        </circle>
 -->
         <text text-anchor='middle' style='pointer-events: none;'>{{node.getLabel()}}</text>
        <!-- <text text-anchor='middle' style='pointer-events: none;'>{{node.attributes[node.displayAttribute].value | number: 2}}</text> -->
<!--         <g ng-show='node.id == $ctrl.focusNodeIndex'>
            <circle ng-repeat="nodeAction in $ctrl.nodeActions"
            ng-attr-cx='{{nodeAction.x}}'
            ng-attr-cy='{{nodeAction.y}}'
            r='20'
            fill='lime'
            >
            </circle>
        </g>
 -->    
    </g>
</svg>
</div>
</div>