<div>
<div style='width:80vw;height:50px;' layout='row'>
    <input id='input-file-selector' type='file' style='display: none'>
    <!-- onchange='angular.element(this).scope().$ctrl.openFile(this.value)' /> -->
<!--     <md-button class='md-fab md-primary' ng-click='$ctrl.openFileSelector()'>
        <md-icon class='material-icons'>folder</md-icon>
    </md-button>
    <md-button class='md-fab md-primary md-hue-2' ng-click="$ctrl.save($ctrl.nodes)">
        <md-icon class='material-icons'>save</md-icon>
    </md-button>
 -->
    <md-button class='md-fab md-primary md-hue-1' ng-show='$ctrl.selectedNodes.length == 1' ng-click='$ctrl.startNagging($ctrl.selectedNodes[0])'>
        <md-icon class='material-icons'>sentiment_dissatisfied</md-icon>
        <md-tooltip>Start Nagging</md-tooltip>
    </md-button>
    <md-button class='md-fab md-primary md-hue-4' ng-show='$ctrl.selectedNodes.length == 1' ng-click="$ctrl.addChild($ctrl.selectedNodes[0])">
        <md-icon class='material-icons'>add</md-icon>
    </md-button>
    <md-button class='md-fab md-primary md-hue-5' ng-show='$ctrl.selectedNodes.length == 2' ng-click="$ctrl.appendChild($ctrl.selectedNodes[0], $ctrl.selectedNodes[1])" aria-label='Append Child'>
        <md-icon md-svg-icon='/images/icons/link_nodes.svg' style='color:white;fill:white;stroke:white;'></md-icon>
    </md-button>
    <syg-node node='$ctrl.lastSelected()'></syg-node>
</div>
<div>
<svg ng-attr-width='{{$ctrl.graph.width}}' ng-attr-height='{{$ctrl.graph.height}}'
svg-pan-zoom options='$ctrl.svgPanZoomOptions' ctrl='$ctrl.svgPanZoomCtrl'
ng-cloak>
    <defs>
        <filter id="shadow-1" x="-40%" y="-40%" width="200%" height="200%">
          <feOffset result="offOut" in="SourceGraphic" dx="5" dy="5" />
          <feColorMatrix result="matrixOut" in="offOut" type="matrix"
          values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />
          <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
        <marker id='arrow-head' markerWidth='10' markerHeight='10' refX='25' refY='3' orient='auto' markerUnits='strokeWidth'>
            <path d="M0,0 L0,6 L9,3 z" ng-attr-fill='{{$ctrl.graph.link.color}}' />
        </marker>
    </defs>
    <rect ng-attr-x='{{($ctrl.graph.width - $ctrl.screen.width) * 0.5}}'
    ng-attr-y='{{($ctrl.graph.height - $ctrl.screen.height) * 0.5}}'
    ng-attr-width='{{$ctrl.screen.width}}'
    ng-attr-height='{{$ctrl.screen.height}}'
    ng-attr-fill='{{$ctrl.screen.bgColor}}'
    filter='url(#shadow-1)'
    ng-click="$ctrl.onClickBackground()">
    </rect>
    <g class='svg-pan-zoom_viewport'>
        <rect x='0' y='0' ng-attr-width='{{$ctrl.graph.width}}' ng-attr-height='{{$ctrl.graph.height}}' fill='none'></rect>
        <line ng-repeat='link in $ctrl.links'
        ng-attr-stroke='{{link.color}}'
        ng-attr-stroke-width='{{link.width}}'
        ng-attr-x1='{{link.source.x}}'
        ng-attr-y1='{{link.source.y}}'
        ng-attr-x2='{{link.target.x}}'
        ng-attr-y2='{{link.target.y}}'
        marker-end="url(#arrow-head)">
        ></line>
        <g ng-repeat='node in $ctrl.nodes'
        ng-attr-transform='translate({{node.x}}, {{node.y}})'
        ng-click='$ctrl.onClickNode($event, node)'
        ng-dblclick='$ctrl.triggerCollapes(node)'
        style='outline: none;'>
            <circle
            ng-attr-r='{{node.r}}'
            ng-attr-fill='{{node.color}}'
            filter='url(#shadow-1)'>
            </circle>
            <circle ng-show='$ctrl.selectedNodes.indexOf(node) >= 0'
            ng-attr-r='{{node.r}}'
            fill='none' stroke='blue' stroke-width='3' stroke-dasharray='7, 5'>
            </circle>

     <!--         <circle ng-show='node.isPressed'
            ng-attr-r='{{$ctrl.pressEffect.r}}' fill='white' ng-attr-fill-opacity="{{$ctrl.pressEffect.opacity}}">
            </circle>
     -->
            <text text-anchor='middle' style='pointer-events: none;'>{{node.title}}</text>
            <!-- <syg-ur-mom mom='$ctrl.mom' node='node'></syg-ur-mom> -->
    <!--         <g ng-show='node.id == $ctrl.focusNodeIndex'>
                <circle ng-repeat="nodeAction in $ctrl.nodeActions"
                ng-attr-cx='{{nodeAction.x}}'
                ng-attr-cy='{{nodeAction.y}}'
                r='20'
                fill='lime'
                >
                </circle>
            </g>
     -->    
            <g ng-attr-transform='translate(-{{node.r}}, -{{node.r}})' syg-mama-nagging-node mama='$ctrl.mama' node='node' size='{{node.r * 2}}'></g>
            <g ng-attr-transform='translate(-{{node.r}}, -{{node.r}})'>
                <g ng-repeat='name in node.showChromosomes' syg-chromosome size='{{node.r * 2}}' value='node[name]'></g>
            </g>
        </g>
    </g>
</svg>
</div>
</div>